VITE_SUPABASE_URL=https://whatweoeyoietwvmidde.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndoYXR3ZW9leW9pZXR3dm1pZGRlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUwODQxOTcsImV4cCI6MjEwMDY2MDE5N30.4JBak26CCXN9VBQgQRnTS0F6av5d-i5ySChao1TFeYg
